
  <div class="card">
      <div class="card-header">
        <h2>{{title}}</h2>
      </div>
      <div class="card-block">
        
          <table class="table table-striped">
            <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users" >
                <td><a [routerLink]="['/albums', user.id]" class="btn btn-default btn-lg" mat-raised-button matTooltip="Click to view Album List">{{ user.name }}</a></td>
                <td>{{ user.email }}</td>
                <td>{{ user.address.street}} {{user.address.suite}} {{user.address.city}} Zip : {{user.address.zipcode}} </td>
              </tr>
            </tbody>
          </table>
        
      </div>
    </div>


